body {
    background-image: url('../website_pic.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

p.withMargin {
    margin: 30px 50px 5px;
}

.blueColor {
    color: #83def5
}

* {
    color: #e9eef3
}

.mainDiv {
    margin: 2% 35% 5% 10%;
    text-align: center;
}

.button {
    background-color: #83def5;
    color: #011a3a;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.picDiv {
    height: 310px;
    width: 310px;
    margin: 0 auto;
}